<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us - CineSurf</title>
    <link rel="stylesheet" href="../public/styles/styles.css" />
    <link rel="icon" href="../public/images/logo2.jpg" type="image/x-icon">
</head>

<body>

    <header>
        <h1>CINE SURF MOVIE REVIEW WEBSITE</h1>
        <nav>
            <a href="../html/home.html">Home</a>
        </nav>
        <img class="logo" src="../images/logo.jpg" alt="Logo" />
    </header>



    <div class="container">
        <h2>Contact Us</h2>
        <div class="contact-info">
            <p>Email: contact@cinesurf.com</p>
            <p>Phone: +1 (123) 456-7890</p>
            <p>Address: 123 Movie Street, Cityville, Country</p>

        </div>
    </div>
</body>

</html>