<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CineSurf</title>
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="icon" href="/images/logo2.jpg" type="image/x-icon" />
</head>

<body>

  <header class="header">
    <a href="/index" class="logo">CineSurf</a>

    <nav class="navbar">
      <a href="#">Popular</a>
      <a href="#">Movies</a>
      <a href="#">TV Shows</a>
      <form id="form">
        <i class="fa fa-search"></i>
        <input type="search" placeholder="Search here..." id="query">
        
      </form>
      <div class="user-dropdown">
        <div class="user-info">
          <img src="/images/default-user-pic.png" alt="User Picture">
          <div class="user-details">
            <span class="username">
              <%= name %>
            </span>
          </div>
        </div>
        <div class="dropdown-content">
          <div class="user-details">
            <span class="username">
              <%= name %>
            </span>
            <span class="email">
              <%= email %>
            </span>
          </div>
          <form action="/logout?_method=DELETE" method="POST">
            <button type="submit">Logout</button>
          </form>
        </div>
      </div>

    </nav>
  </header>


  <div class="spacediv"></div>

  <main id="main">
    <div class="movie">
      <img src="/images/blackpanther.jpg" alt="image">

      <div class="movie-info">
        <h3>Movie Title</h3>
        <span class="green">9.8</span>
      </div>

      <div class="overview">
        <h3>overview</h3>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum similique officiis nam numquam molestias.
        Incidunt et suscipit, inventore nemo perferendis omnis dolorum tenetur nam vel, mollitia itaque iusto asperiores
        ipsam?
      </div>
    </div>
  </main>


  <script src="/scripts/index.js"></script>
</body>

</html>