<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Details</title>
    <link rel="stylesheet" href="/styles/movie_details_styles.css"> <!-- Link to the movie details stylesheet -->
    <style>
        body {
            background-color: #00000096;
        }
    </style>
</head>
<body>

<header class="header">
    <a href="/index" class="logo">CineSurf</a>

    
    <div class="user-dropdown">
        <div class="user-info">
          <img src="/images/default-user-pic.png" alt="User Picture">
          <div class="user-details">
            <span class="username">
              <%= name %>
            </span>
          </div>
        </div>
        <div class="dropdown-content">
          <div class="user-details">
            <span class="username">
              <%= name %>
            </span>
            <span class="email">
              <%= email %>
            </span>
          </div>
          <form action="/logout?_method=DELETE" method="POST">
            <button type="submit">Logout</button>
          </form>
        </div>
      </div>


</header>

<div class="movie-details-container">
    <div class="movie-details-info">
        <div class="movie-poster-trailer">
            <img src="" alt="Movie Poster" id="movie-poster">
            <div class="overview" id="movie-overview">
              <h3>Overview</h3>
              <p>Placeholder text for overview</p>
          </div>
        </div>
        <!-- <div id="trailer-container"></div> Move the trailer container inside movie-poster-trailer -->
    </div>
</div>

<div>
    <h1>Your review here</h1>
    <textarea class="review_text_box" name="w3review" rows="10" cols="50" placeholder="Enter your Review here..."></textarea>
</div>

<script src="/scripts/movie_details_app.js"></script> <!-- Include the app.js file -->
<script>
    // On page load, extract movie details from URL parameters and populate the movie details
    window.onload = function() {
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const movieId = urlParams.get('id');
        const movieTitle = urlParams.get('title');

        if (movieId && movieTitle) {
            // Call functions to fetch and display movie details
            getMovieDetails(movieId);
            getYouTubeTrailer(movieTitle);
        }
    };
</script>
</body>
</html>
