body{
    background-image: url('../images/below_1.jpeg');
}
.container {
    margin: 100px auto;
    width: fit-content;
    text-align: center;
    background-size: auto;
    background-repeat: no-repeat;
}

#guest-credentials {
    color: #9aec16;
    max-width: 450px;
    background-color: rgba(43, 43, 43, 0.575); 
    width: 80%;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(134, 131, 131, 0.5);
    margin: 0 auto; /* Center the guest credentials box horizontally */
}

#guest-credentials p {  
    margin: 10px 0;
}

#guest-credentials button {
    background-color: #e41a1a;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    text-decoration: none;
    margin-top: 20px; /* Add margin to the top of the button */
}

#guest-credentials button:hover {
    background-color: black;
    color: gold;
    transform: scale(1.1);
}
