body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #2b2b2b, #0a0a0a);
}

.bg-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
}

.signup-container {
    max-width: 725px; /* Adjusted max-width */
    background-color: rgb(0, 0, 0);
    width: 60%; /* Adjusted width */
    padding: 60px; /* Increased padding */
    margin: 50px auto; /* Center the container horizontally */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    position: relative; /* Ensure z-index works correctly */
    z-index: 1; /* Place login container above video */
    animation: fadeInUp 0.5s ease; /* Add fade-in animation */
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.signup-container h2 {
    color: #fff;
    margin-bottom: 40px;
    font-size: 24px; /* Increase font size */
}

.signup-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #fff;
    font-size: 16px; /* Increase font size */
}

.form-group input {
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #3498db;
    border-radius: 5px;
    margin-top: 5px;
    transition: border-color 0.5s;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 16px; /* Increase font size */
}

.form-group input:focus {
    border-color: #2980b9;
}

.form-group button {
    background-color: #e41a1a;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    text-decoration: none;
    font-size: 16px; /* Increase font size */
}

.form-group button:hover {
    background-color: black;
    color: gold;
    transform: scale(1.1);
}

.disclaimer {
    color: #fff;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px; /* Decrease font size */
}

.disclaimer a {
    color: orange;
    text-decoration: none;
    transition: color 0.3s; /* Add transition effect */
}

.disclaimer a:hover {
    color: gold; /* Change link color on hover */
}

/* CSS for centering the text in the left container */
.center-text {
    color: #fff; /* Text color */
    font-size: 20px; /* Text size */
    max-width: 80%; /* Limit the width to prevent overflow */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
