body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(../images/index_logo.jpeg);
    background-size: cover;
    position:absolute;
    background-repeat: no-repeat;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
}

#nav_icons {
    padding-left: 20px;
    padding-right: 20px;
    transition: color 0.3s ease-in-out, background 0.3s ease-in-out; /* Add transition for color and background */
}

#nav_icons:hover {
    color: white; /* Change text color to white on hover */
    background: black; /* Change background color to black on hover */
}
.c1 {
    text-align: center;
    margin-top: 60px; /* Adjust as needed for spacing below the nav bar */
}

.c1 img {
    width: 500px; /* Adjust the width as needed */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; /* Display the list items in a row */
}

nav li {
    margin: 0 10px; /* Adjust as needed for more space */
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 8px 12px;
}

.content {
    margin: 100px auto 0; /* Adjust margin-top for spacing */
    padding: 20px;
    text-align: center;
}

.content h1 {
    font-size: 2.5em;
    color: black;
}

.content p {
    font-size: 1.2em;
    color: #555;
}

.logo {
    text-align: center;
    margin-top: 20px; /* Adjust as needed for spacing */
}

.logo img {
    width: 50px; /* Adjust the width as needed */
}
